.grid {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 3;
    grid-template-areas: "header header header header" "nav main main main" "nav main main main";
    
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}